/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing: inherit;  
}

button, summary {
	cursor: pointer;
}

/* a {
	cursor: pointer;
} */



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--text-color-nav:white;
	--header-color:white;
	--color-text:#111;
	--color-background:#003CFB;
	--color-van-ons-blauw:#003CFB;
	--color-van-ons-groen:#02C758;
	--section-background:#F2F2F2;
	--padding-zijkant:0 1em;
	--border-radius-section: 0.6em;
	--padding-cards:1.25rem;
	--text-bubble-left-border-radius:1.5em 1.5em 1.5em .3em;
	--text-bubble-right-border-radius:1.5em 1.5em .3em 1.5em;
	--padding-navigatie-button: 1em 2em;
	

}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* CLASSES */

/* h1 verbergen */
.visually-hidden {
	position: fixed;
	top: 0;
	left: -9999em;
}

.navigatie-link-sectie {
	text-transform: none;
	color: var(--color-background);
	font-weight: 600;
	font-size: 0.9em;

}





/* Card style */

main section:nth-of-type(2) {
	border-radius: 0.6em;
}

main section:nth-of-type(2) img {
	border-radius: 0.6em 0.6em 0 0;
}

 main section:nth-of-type(3) li {
    border-radius: 0.6em;
}


 main section:nth-of-type(3) img {	
    border-radius: 0.6em 0.6em 0 0;
}


/* algemene body styling */
body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body p {
	font-weight: 200;
	line-height: 1.8em;
	margin-top: 0.5em;
}

/* algemene styling li  */
body li {
	list-style-type: none;
}
/* algemene styling a */
body a {
	text-decoration: none;
	font-weight: 600;
}

/* algemene styling ul en ol */
body ul, ol {
	margin-block-start: 0;
    padding-inline-start: 0;
    list-style-type: none;
    margin-block-end: 0;
}

/* HEADER */

header {
	background-color: var(--color-background);
	color: var(--header-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 100%;
}

header img {
	max-width: 120px;
	width: 100%;
	margin: 1.5em;
	/* margin: auto; */
}

/* STYLING VAN NAVIGATIE */
header nav {
    display: flex;
	align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: space-between;

    padding-inline-start: 2.5em;
    background-color: var(--color-background);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

	transform: translateY(100%);
  
}

header nav button {
	margin-top: 2.6em;
	margin-right: 2em;
}

header nav ul {
	padding-top: 2.8em;
}

.grote-links-nav {
	font-size: 1.375rem;
	font-weight: 600;
	line-height: 2.2em;
}

.kleine-links-nav {
	font-size: 0.9em;
	font-weight: 300;
	line-height: 2.5em;
	letter-spacing: 0.1em;
}

header nav a {
	color: var(--text-color-nav);
}

/* ----------------------------------------- */


/* MAIN */
/* witruimte  main*/
main 
{
	padding: 0 1em;
}

main img {
	max-width: 100%;
}

/* MAIN SECTIE 1 - KOP + CTA */

main section:first-of-type {
	background-color: var(--color-background);
	padding: 1.5em 0;
	margin: 0;
	margin-bottom: 2em;
	color: white;

}

main section:first-of-type h2 {
	font-weight: 600;
	font-size: 2em;
	line-height: 1.2em;
}

main section:first-of-type a {
	background-color: white;
	border-style: solid;
	border-color: white;
	border-radius: 1.5em 1.5em 0.3em 1.5em;
	padding: 1em 2em;
	color: var(--color-van-ons-blauw);
	font-size: 0.9em;
	display: flex;
	align-items: center;
	width: fit-content;
	transition: .3s;
}

main section:first-of-type a img {
	width: 1.5em;
	margin-left: 1em;
	transition: .3s;
}

main section:first-of-type a:hover {
	background-color: var(--color-van-ons-blauw);
	color: white;
}

main section:first-of-type a:hover img {
	transform: translateX(.5em);
	filter: brightness(0) invert(1);
}





/* MAIN SECTIE 2 - "WELKOM BIJ VAN ONS" */
main section:nth-of-type(2) {
	background-color: var(--section-background);

	display: flex;
	flex-direction: column;
}

/* staat nu hier bij de andere main section:nth-of-type(2) */
main section:nth-of-type(2) {
	font-size: 0.9em;
	/* een font kleiner dan 1em is niet zo'n goed idee */
	/* dan wordt de tekst slecht leesbaar (iig voor miensen zoals ik - leesbril) */
	/* liever gewoon 1em gebruiken */
}

main section:nth-of-type(2) div {
	padding: 1.25em;
}

main section:nth-of-type(2) div h2 {
	margin: 0;
	font-weight: 600;
}

main section:nth-of-type(2) div a {
	display: flex;
	align-items: center;
	/* zijn beide niet nodig */
	/* margin: 0; */
	/* padding: 0; */

	/* deze hier */
	transition: 0.5s;
}

main section:nth-of-type(2) div a:hover  {
	color:black;
}

/* pijl naar rechts */
main section:nth-of-type(2) div a img {
	width: 20px;
	margin-left: 1em;
	/* gelijk aan de transotion van de a */
	transition: .5s;
}

main section:nth-of-type(2) div a:hover img  {
	/* color: black; */
	/* dat heeft geen zin bij een plaatje */
	/* het plaatje zwart maken kan wel met een filter */
	filter:brightness(0);

	transform: translateX(1em);
}


/* hier een direct child selector (>) toegvoegd */
/* anders werd ook de img in de a geseledcteerd */
main section:nth-of-type(2) > img {
	max-width: 100%;
	order: -100;
}



/* MAIN SECTIE 3 - "WAT WIJ HEBBEN GEDAAN' */

/* ul */
main section:nth-of-type(3) ul {
	display: grid;
	row-gap: 1.3em;
}

/* li */
main section:nth-of-type(3) li {
	background-color:var(--section-background);	
}

main section:nth-of-type(3) h2 {
	margin-bottom: 0.5em;
	margin-top: 1.5em;
	font-weight: 600;

}

/* p */
main section:nth-of-type(3) p {
	font-size: 0.9em;
	font-weight: 200;
	line-height: 1;
}

main section:nth-of-type(3) h4 {
	text-transform: uppercase;
	letter-spacing: 0.0625em;
	font-weight: 600;
	color: var(--color-background);
	margin: 0 0 0.5em;
	font-size: 0.875rem;
}

main section:nth-of-type(3) h5 {
	font-size: 1.3em;
	margin: 0 0 0.5em 0;
	font-weight: 600;
}


/*  banner img */
main section:nth-of-type(3) div:first-of-type img {
	height: 15em;
	object-fit: cover;
	width: 100%;
}

/*  text card */
main section:nth-of-type(3) div:nth-of-type(2) {
	padding: 1.25rem;
	
}

main section:nth-of-type(3) div:nth-of-type(2) a {
	display: flex;
	align-items: center;
	transition: 0.5s;
}

main section:nth-of-type(3) div:nth-of-type(2) img {
	width: 20px;
	margin-left: 1em;
	transition: .5s;
}

main section:nth-of-type(3) div:nth-of-type(2) a:hover {
	color:black;
}

main section:nth-of-type(3) div:nth-of-type(2) a:hover img {
	filter: brightness(0);
	transform: translateX(0.5em);
}

main section:nth-of-type(3) > a {
	display: flex;
	justify-content: center;
	width: fit-content;
	margin: auto;

	border-color: var(--color-van-ons-blauw);
	border-style: solid;
	border-radius: 1.5em 1.5em 0.3em 1.5em;
	padding: var(--padding-navigatie-button);
	color: var(--color-van-ons-blauw);
	margin-top: 2em;

	transition: .5s;
}

main section:nth-of-type(3) > a:hover {
	background-color: #003CFB;
	color: white;
	cursor: pointer;
}


main section:nth-of-type(3) > a img {
	width: 20px;
	margin-left: 1em;
	transition: 0.5s;
}

main section:nth-of-type(3) > a:hover img {
	filter: brightness(0) invert(1);
	transform: translateX(0.5em);
}


/* MAIN SECTION 6 */
.contact-button {
	border-style: solid;
	border-radius: 0.5em;
	padding: 0.7em 1.2em;
	color: white;
	font-weight: 500;
	margin: 1em 0;
}

.tekst-bubble-links {
	width:fit-content;
	display: flex;
	background-color: var(--color-van-ons-blauw);
	color: white;
	font-size: 0.85em;
	font-weight: 500;
	border-radius: var(--text-bubble-left-border-radius);
	padding: 1.5em;
}

.tekst-bubble-rechts {
	width: fit-content;
	display: flex;
	justify-content: flex-end;

	background-color: var(--color-van-ons-groen);
	border-radius: var(--text-bubble-right-border-radius);
	font-size: 0.85em;
	padding: 1.5em;
	color: white;
}



/* FOOTER */
footer {
	margin: var(--padding-zijkant);
	display: grid;
	row-gap: 1em;

}

footer section {
	color: var(--text-color-nav);
	border-radius: var(--border-radius-section);
	padding: 1.25rem;
}

footer section h4 {
	margin: 0 0 0.5em 0;
	font-size: 1.15em;
	font-weight: 600;
}

footer section p {
	font-size: 0.9em;
	line-height: 2em;
	font-weight: 200;
}

/* FOOTER SECTION 1 */

footer section:first-of-type ul {
	display: flex;
}

footer section:first-of-type {
	background-color: var(--color-van-ons-blauw);
}

/* FOOTER SECTION 2 */

footer section:nth-of-type(2) {
	background-color: var(--color-van-ons-groen);
}

footer section:nth-of-type(2) div p {
	text-decoration: none;
	color: white;
	font-weight: 500;
	margin-bottom: 0;
}

footer section:nth-of-type(2) div ul li a {
	color: white;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

footer section:nth-of-type(2) div ul li p {
	color: white;
	font-weight: 100;
	margin: 0;
	padding: 0;
}


