/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing: inherit;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--text-color-nav:white;
	--header-color:white;
	--color-text:#111;
	--color-background:#003CFB;
	--section-background:#F2F2F2;

}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* CLASSES */
/* h1 verbergen */
.visually-hidden {
	position: fixed;
	top: 0;
	left: -9999em;
}

/* Card style */
.card-style {
    border-radius: 0.6em;
}

.card-style-img {	
    border-radius: 0.6em 0.6em 0 0;
}


/* algemene body styling */
body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body p {
	font-weight: 200;
	line-height: 1.6em;
}

/* algemene styling li  */
body li {
	list-style-type: none;
}
/* algemene styling a */
body a {
	text-decoration: none;
}

/* algemene styling ul en ol */
body ul, ol {
	margin-block-start: 0;
    padding-inline-start: 0;
    list-style-type: none;
    margin-block-end: 0;
}



/* HEADER */

header {
	background-color: var(--color-background);
	color: var(--header-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 100%;
}

header img {
	max-width: 120px;
	width: 100%;
	margin: 1.5em;
	/* margin: auto; */
}

/* STYLING VAN NAVIGATIE */
header nav {
    display: flex;
	align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: space-between;

    padding-inline-start: 2.5em;
    background-color: var(--color-background);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

	transform: translateY(100%);
  
}

header nav button {
	margin-top: 2.6em;
	margin-right: 2em;
}

header nav ul {
	padding-top: 2.8em;
}

.grote-links-nav {
	font-size: 1.375rem;
	font-weight: 600;
	line-height: 2.2em;
}

.kleine-links-nav {
	font-size: 0.9em;
	font-weight: 300;
	line-height: 2.5em;
	letter-spacing: 0.1em;
}

header nav a {
	color: var(--text-color-nav);
}

/* ----------------------------------------- */


/* MAIN */
/* witruimte  main*/
main {
	padding: 0 1em;
}

main img {
	max-width: 100%;
}

/* eerste section - "welkom bij van ons" */
main section:first-of-type {
	background-color: var(--section-background);

	display: flex;
	flex-direction: column;
}

main section:first-of-type img {
	max-width: 100%;

	order: -100;
}


/* TWEEDE SECTIE - "WAT WIJ HEBBEN GEDAAN' */

/* ul */
main section:nth-of-type(2) ul {
	display: grid;
	row-gap: 1.3em;
}

/* li */
main section:nth-of-type(2) li {
	background-color:var(--section-background);



	
}






